<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>

</script>

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


<main id="content">
  <img src="http://i2.kym-cdn.com/photos/images/original/000/641/298/448.jpg" alt="" />
  <!-- <img src="http://i.imgur.com/TRRhZsel.jpg" alt="" /> -->
</main>
