// Place all the styles related to the api/stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.stories-index-item {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    margin-bottom: 10px;
    background: white;
    width: 660px;
}

.stories-index-item-title {
  font-size: 29px;
  font-weight: normal;;
}

.stories-index-item-content {
  padding: 20px;
}

.stories-index-item-author {
  display: flex;

  ul {
    padding-left: 12px;
  }
}

.publish-date {
  font-size: 12px;
  color: #ACACAC;
}


.form-story {
  margin: 50px 30px;

}
.form-story-title {
  border: none;
  font-size: 40px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  outline: none;
}

.form-story-body {
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;

}
