.triangle-up-gray {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 12px solid #eee;
  position: absolute;
  right: 100px;
  top: -12px;
}

.triangle-up-white {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  right: 100px;
  top: -10px;
}
