// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form, .signup-form {
  width: inherit;
  height: inherit;
  text-align: center;
  vertical-align: middle;

  .username, .password {
    border-bottom: 1px solid gray;
    width: 69%;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 100;
    text-align: inherit;
    padding-bottom: 6px;
  }

  .button {
    // background: #00ab6c;
    // border: 2px none #00ab6c;
    // border-radius: 4px;
    // font-size: 15px;
    // margin-bottom: 8px;
    // width: 71%;
    // color: white;
    // padding: 5px;
    // cursor: pointer;
    background: #00ab6c;
    border: 1px none #00ab6c;
    border-radius: 2px;
    font-size: 16px;
    margin-bottom: 9px;
    width: 71%;
    color: white;
    padding: 9px;
    cursor: pointer;
    font-weight: 300;
  }

  .button:hover {
    background: #008856;
  }

  .guest {
    background: #002215;
    // border: 2px none #002215;
  }
  .guest:hover {
    background: #000000;
  }

}

.medium-color {
  color: #00ab6c;
}
.error {
  list-style: inherit;
  text-align: center;
  font-size: small;
  color: red;
}

.modal-button {
  position: fixed;
  top: 15px;
  right: 29px;
  font-size: larger;
  color: white;
  background: transparent;
}

header {
  margin: 20px;
  // box-shadow: 0 0 1px rgba(0,0,0,.15);
  align-items: center;

  .meta-bar-upper {
    justify-content: space-between;
    display: flex;
  }
  .meta-bar-lower > ul {
    border-top: 1px solid rgba(0,0,0,.09);
    font-size: 15px;
    font-weight: 100;
    display: flex;

    li {
      margin: 12px 36px 8px 0px;
    }
  }


}

nav {
  list-style: none;
  display: flex;
  color: #00ab6c;
  font-size: 14px;
  font-weight: 300;
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 12px;
    }
  }
  button {
    margin-left: 5px;
  }
}

.web-title {
  font-size: 35px;
  font-weight: 200;
  color: #00110a;
}

.web-title::first-letter {
  font-family: monospace;
  font-size: 50px;
  font-weight: 200;
  color: #00110a;
}

.story-title {
  font-weight: 700;
  font-size: 40px;
}

.withprewrap {
  white-space: pre-wrap;
}
p {
  white-space: pre-wrap;
}

.meta-bar {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.09);
  padding-top: 27px;
}



.rock-solid {
  position: relative;
  ul {
    // position: absolute;
  }
}

.overlay {
  opacity: 0.8;
  background-color: #ccc;
  position: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

span.pop-over {
  // opacity:0.8;
  background-color: transparent;;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index: 2;
}
span:hover{
  cursor: default;
}

.pop-over {
  z-index: 10;
  display: block;
  position: absolute;
  width: 230px;
  border: 1px solid #eee;
  background: white;
  border-radius: 3%;

  right: -100px;
  top: 9px;

  padding: 8px 0px;
  color: #6A6A6A;
  font-size: 15px;
  li {
    margin: 0;
    padding: 7px 25px;
  }
  li:last-child {
    button {
      margin: 0;
    }
  }

}

.pop-over-hidden {
  display: none;
}


.whole-story {
  padding-top: 40px;
  max-width: 700px !important;
}

.divider-plate-content {
  color: #646464;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 20px 0px;
}
