// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form, .signup-form {
  width: inherit;
  height: inherit;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  h2 {
    font-size: 22px;
    color: gray;

  }

  .username, .password {
    border: 1px solid gray;
    width: 69%;
    font-size: 15px;
    margin-bottom: 8px;
    border-radius: 3px;
    font-weight: 100;
    text-align: inherit;
  }

  .button {
    background: #00ab6c;
    border: 2px none #00ab6c;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 8px;
    width: 71%;
    color: white;
    padding: 5px;
    cursor: pointer;
  }

  .button:hover {
    background: #008856;
  }

  .guest {
    background: #002215;
    // border: 2px none #002215;
  }
  .guest:hover {
    background: #000000;
  }

}

.error {
  list-style: inherit;
  text-align: center;
  font-size: small;
  color: red;
}

.modal-button {
  position: fixed;
  top: 15px;
  right: 29px;
  font-size: larger;
  color: white;
  background: transparent;
}

header {
  margin: 20px;
  // box-shadow: 0 0 1px rgba(0,0,0,.15);
  align-items: center;

  .meta-bar-upper {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.09);
  }
  .meta-bar-lower > ul {
    font-size: 15px;
    font-weight: 100;
    display: flex;

    li {
      margin: 12px 36px 8px 0px;
    }
  }


}

nav {
  list-style: none;
  display: flex;
  color: #00ab6c;
  font-size: 16px;
  font-weight: 300;
  ul {
    display: flex;
    li {
      margin-left: 12px;
      margin-top: 11px;
    }
  }
  button {
    margin-left: 5px;
  }
}

.web-title {
  font-size: 35px;
  font-weight: 200;
  color: #00110a;

}

.withprewrap {
  white-space: pre-wrap;
}

.stories-index {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 14px;
}

.meta-bar {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.09);
  padding-top: 27px;
}
